<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <!-- Navigation Bar-->
    <ul class="navBar">
        <li id="home" class="navEle"><a href="index">COD Database</a></li>
        <li class="navEle"><a href="map">Maps</a></li>
        <li class="navEle"><a href="perk">Perks</a></li>
        <li class="navEle"><a href="weapon">Weapons</a></li>
    </ul>

    <div class="bodyDiv">
        {{{body}}}
    </div>
</body>
</html>
