@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: rgb(255, 243, 234);
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(56, 56, 56);
}

.navEle {
    float: left;
}

.navEle > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navEle > a:hover {
    background-color: rgb(255, 115, 0);
    color: rgb(56, 56, 56);
}

.bodyDiv {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr auto;
    grid-row-gap: 1em;
}

/* Index styles */
.addPlayer, .playerTable {
    grid-column: 2/10;
}

.addPlayer {
    grid-row: 1/2;
}
